.rodape {
    background-color: #6278F7;
    background-image: url('/public/imagens/fundo.png');
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape ul li {
    display: inline-block;
    margin-right: 32px;
}

.rodape ul li:last-child {
    margin-right: 0;
}